<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelWell_v1"
        tools:targetApi="31">
        <activity
            android:name=".UpdateHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".addReview"
            android:exported="false" />
        <activity
            android:name=".userAddReview"
            android:exported="false" />
        <activity
            android:name=".userHospitalsInfo"
            android:exported="false" />
        <activity
            android:name=".reviewPlacesInfo"
            android:exported="false" />
        <activity
            android:name=".UpdatePoliceActivity"
            android:exported="false" />
        <activity
            android:name=".UpdatePlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".userReview"
            android:exported="false" />
        <activity
            android:name=".userPolicesInfo"
            android:exported="false" />
        <activity
            android:name=".userHospitals"
            android:exported="false" />
        <activity
            android:name=".userPolices"
            android:exported="false" />
        <activity
            android:name=".userEmergencyServices"
            android:exported="false" />
        <activity
            android:name=".userPlacesInfo"
            android:exported="false" />
        <activity
            android:name=".PolicesInfo"
            android:exported="false" />
        <activity
            android:name=".AddHospitals"
            android:exported="false" />
        <activity
            android:name=".AddPolices"
            android:exported="false" />
        <activity
            android:name=".HospitalInfo"
            android:exported="false" />
        <activity
            android:name=".MapView"
            android:exported="false" />
        <activity
            android:name=".AddPlaces"
            android:exported="false" />
        <activity
            android:name=".PlacesInfo"
            android:exported="false" />
        <activity
            android:name=".AdminEmergency"
            android:exported="false" />
        <activity
            android:name=".AdminPlaces"
            android:exported="false" />
        <activity
            android:name=".HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SignupAdminActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4lNp5yDoVpg1HeTc1q1nrEVf2NYzC6Z8" />
    </application>

</manifest>